html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

* {
  @apply outline-none box-border;
}

.router-link-active {
  @apply shadow text-gray-200 transition-all active: (transform scale-90 transition-all duration-200);
}

.icon {
  @apply rounded cursor-pointer filter drop-shadow text-4xl text-gray-900 transition-all duration-300 hover: (opacity-80) active:(transform duration-300 scale-90);
}

.menu {
  @apply rounded-lg py-2 px-3 cursor-pointer text-lg text-gray-900 hover: bg-gray-200 transition-all;
}

.absolute-center {
  @apply transform 'top-[50%]' 'left-[50%]' '-translate-x-[50%]' '-translate-y-[50%]' absolute;
}

.absolute-top-center {
  @apply absolute 'top-[50%]' transform '-translate-y-[50%]';
}

.absolute-left-center {
  @apply absolute 'left-[50%]' transform '-translate-x-[50%]';
}

.filter-blur {
  @apply backdrop-filter backdrop-blur-xl;
}

.v-base {
  @apply rounded shadow bg-gray-100 border-1 border-gray-50  backdrop-filter backdrop-blur-2xl;
}
