html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.icon {
  padding: 5px;
  transition: all 0.3s;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background: #64646467;
    transition: all 0.3s;
  }
  &:active {
    transform: scale(0.9);
    transition: all 0.3s;
  }
}
