* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
}

/* 滚动条 */
::-webkit-scrollbar {
    border-radius: 7px;
    width: 7px;
    height: 7px;
    background: #eee;
}
/* 滚动条滑块儿 */
::-webkit-scrollbar-thumb {
    background-color: #acacac;
    border-radius: 7px;
}

/* 去除标签页下的灰色条 */
.el-tabs__nav-wrap::after {
    content: none;
}

/* 描述对话框 */
.el-dialog__body {
    padding: 10px 20px;
}
/* 对话框圆角 */
.el-dialog {
    border-radius: 6px;
}
/* 表格每行点击效果 */
.el-table__row {
    cursor: pointer;
}

/* 搜索 */
.search-input > .el-input__inner {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
}
